md-checkbox {
  &:not([disabled]) {
    &.md-custom {
      .md-icon{
        border-color: rgba(243, 243, 243, 0.54);
      }
      &.md-checked {
        .md-icon {
          background-color: rgba(16,108,200,0.87);
        }
      }
    }


    &.md-game {
      .md-icon{
        border-color: rgba(243, 243, 243, 0.54);
        background-color: #fff
      }
      &.md-checked {
        .md-icon {
          background-color: rgba(16,108,200,0.87);
        }
      }
    }
  }
}




